*{
    margin: 0px;
    font-family: Lato; 
}
.banner{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
padding: 0px 240px;
display: flex;
}
.banner-content{
    padding-top: 197px;
    padding-bottom: 147px;
}
.banner-title{
    color: #272727;
    width: 708px; 
font-size: 80px;
font-weight: 800;
padding-right: 97px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    width: 634px; 
font-size: 18px;
font-weight: 400;
padding-right:171px;
padding-top: 32px;
padding-bottom: 32px;
}
.btn-primary{
padding: 20px 43px;
align-items:center;
border-radius: 8px;
background: #E55473;
color: #FFFFFF;
font-size: 20px; 
font-weight: 700; 
}
.banner-image{
    padding-top: 50px;
    width: 635px; 
}
.feature{
    width: 1920px;
height: 4867px;
background: #FFF;
}
.feature-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 178px;
margin-left: 764px;
margin-right: 764px;
padding-bottom: 24px;
}
.feature-description{
width: 594px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-left: 663px;
margin-right: 663px;
margin-bottom: 48px;
}