*{margin: 0px;
    padding: 0px;
     
}
body{
    font-family: Lato;
}
.banner{
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    width: 1350px;


}
.banner-content{
    padding-left: 168px;
    padding-top: 135px;
    padding-bottom: 100px;
}
.banner-title{
    color: #272727;
font-size: 56px;
font-weight: 800;
width: 495px;
padding-right: 67px;
padding-bottom: 22px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 12px;
font-weight: 400;
width: 443px;
padding-bottom: 22px;
padding-right: 118px;
}
.btn-primary{
    background-color: rgb(229, 84, 115);
  border: none;
  outline: none;
  padding: 14px 30px;
  border-radius: 5px;
  color:#FFFFFF ;
  font-size:14px ;
  font-weight: 700;
}
.banner-image{
    width: 445px;
    padding-top: 35px;
    padding-right: 168px;

}
.feature{
    margin-top: 124px;
    text-align: center;
    margin-bottom: 33px;
}
.feature-title{
    color: #272727;
font-size: 28px;
font-weight: 800;
padding-bottom: 17px;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    width: 415px;
    text-align: center;
    padding-left: 450px;
}
.Flower-item-container{
    display: flex;
    justify-content:space-around;
    margin-left: 168px;
    margin-right: 168px;
}
.underline{
    text-align: center;
    text-decoration: underline;
}
.flower-show{
    margin-right: 16px;
    margin-bottom: 22px;
    width: 260px;

}

#Pink{

   border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 110px 78px 0px 76px

}
#red{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 47px 51px;

}
#yeallow{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px;
    
}